$font: 'Lato', sans-serif;

// colors 
$primary: #FFA451;
$secondary: #27214D;
$third: #F3F1F1;
$fourth: #938DB5;
$fifth: #5D577E;
$search: #F3F4F9;
$hottest1: #FFFAEB;
$hottest2: #FEF0F0;
$hottest3: #F1EFF6;
