@import './variables/base'; 

body {
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    padding-top: 4.375rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    .nav {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        #menu {
            width: 1.375rem;
            height: 0.688rem;
        }
        #basket {
            width: 2.563rem;
            height: 2.625rem;
        }
    }
    .title {
        width: 100%;
        max-width: 500px;
        p {
            width: 16rem;
            font-size: 20px;
            padding-top: 2px;
            color: $secondary;
            line-height: 30px;
            margin-bottom: 1.5rem;
        }
        .search {
            width: 100%;
            position: relative;
            .icon {
                position: absolute;
                top: 20px;
                left: 1.5rem;
                width: 1rem;
            }
            input {
                width: 86%;
                max-width: 436px;
                height: 3.5rem;
                border-radius: 1rem;
                border: none;
                background-color: $search;
                padding-left: 3.5rem;
                box-sizing: border-box;
                font-size: 14px;
                outline: none;
                margin-bottom: 2.5rem;
            }
            #filter {
                width: 1.625rem;
                margin-left: 12px;
                margin-right: auto;
            }
        }
    }
}

.content {
    .recomended {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 3rem;
        h1 {
            margin: 0;
            font-size: 24px;
            font-weight: 600;
            color: $secondary;
            margin-bottom: 1.5rem;
        }
        .recomended-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 500px;
            a {
                width: 46.4862%;
                height: 11.438rem;
                box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
                border-radius: 1rem;
                position: relative;
                #heart {
                    width: 1rem;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
                #rec1 {
                    width: 5rem;
                    top: 1.375rem;
                    left: 2.25rem;
                    right: 2.25rem;
                    position: absolute;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                h3 {
                    position: inherit;
                    text-decoration: none;
                    color: $secondary;
                    font-size: 15px;
                    top: 6.875rem;
                    left: auto;
                    right: auto;
                    margin: 0;
                    text-align: center;
                    font-weight: 600;
                }
                #money {
                    width: 1rem;
                    position: absolute;
                    left: 1rem;
                    bottom: 1.5rem;
                }
                p {
                    font-size: 14px;
                    position: absolute;
                    left: 2.25rem;
                    bottom: 1.45rem;
                    margin: 0;
                    color: $primary;
                }
                #add {
                    width: 1.5rem;
                    bottom: 1.2rem;
                    position: absolute;
                    right: 1rem;
                }
            }
        }
    }
    .hottest {
        margin-left: 1.5rem;
        .nav-links {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 500px;
            justify-content: space-between;
            .active {
                h1 {
                    font-size: 24px;
                    color: $secondary;
                    font-weight: 600;
                    margin: 0 30px 5px 0;
                }
                hr {
                    width: 1.375rem;
                    border: 2px solid $primary;
                    margin: 0;
                }
            }
            .inactive {
                display: flex;
                flex-direction: row;
                width: 100%;
                h2 {
                    font-size: 14px;
                    color: $fourth;
                    font-weight: 400;
                    margin-top: 0.4rem;
                    margin-right: 2rem;
                }
                h2:last-child {
                    margin-right: 0;
                }
            }
        }
        .hottest-cards {
            display: flex;
            flex-direction: row;
            max-width: 500px;
            margin-top: 1.4rem;
            margin-bottom: 1rem;
            a{
                width: 40%;
                height: 9.375rem;
                border-radius: 0.625rem;
                position: relative;
                margin-right: 1rem;
                text-decoration: none;
                #heart {
                    width: 1rem;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
                #hot1 {
                    width: 4rem;
                    top: 1.188rem;
                    left: 2.375rem;
                    right: 2.375rem;
                    position: absolute;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                h3 {
                    position: inherit;
                    text-decoration: none;
                    color: $secondary;
                    font-size: 14px;
                    top: 5.688rem;
                    left: auto;
                    right: auto;
                    margin: 0;
                    text-align: center;
                    font-weight: 600;
                    
                }
                #hot2 {
                    width: 6rem;
                    top: 2rem;
                    left: 1.375rem;
                    right: 1.375rem;
                    position: absolute;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                #money {
                    width: 1rem;
                    position: absolute;
                    left: 0.563rem;
                    bottom: 0.813rem;
                }
                p {
                    font-size: 14px;
                    position: absolute;
                    left: 1.813rem;
                    bottom: 0.7rem;
                    margin: 0;
                    color: $primary;
                }
                #add {
                    width: 1.5rem;
                    bottom: 0.5rem;
                    position: absolute;
                    right: 0.5rem;
                }
            }
            a:first-child {
                background-color: $hottest1;
            }
            a:nth-child(2) {
                background-color: $hottest2;
            }
            a:last-child {
                background-color: $hottest3;
                width: 11.2%;
                border-radius: 0.625rem 0 0 0.625rem;
                margin-right: 0;
                #hot3 {
                    width: 1rem;
                    top: 2.438rem;
                    right: 0;
                    position: absolute;
                }
                h3 {
                    position: inherit;
                    text-decoration: none;
                    color: $secondary;
                    font-size: 13px;
                    top: 5.688rem;
                    left: 0.1rem;
                    margin: 0;
                    text-align: center;
                    font-weight: 600;
                }
                #money {
                    width: 1rem;
                    position: absolute;
                    left: 0.4rem;
                    bottom: 0.813rem;
                }
                p {
                    font-size: 14px;
                    position: absolute;
                    left: 1.4rem;
                    bottom: 0.7rem;
                    margin: 0;
                    color: $primary;
                }
            }
       }
    }
}