@import './variables/base'; 

body {
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $font;
    background-color: $primary;
}

.navbar {
    display: flex;
    width: 100%;
    height: 17.734%;
    background-color: $primary;
    flex-direction: row;
    text-align: center;
    #back {
        width: 5rem;
        height: 2rem;
        margin-left: 1.5rem;
        margin-top: 4.5rem;
        margin-right: 0.875rem;
    }
    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            margin: 4.5rem 0 0 0 ;
            display: block;
            font-size: 22px;
            color: white;
            font-weight: 500;
        }
    }
}

.content {
    width: 100%;
    height: 82.266%;
    background-color: white;
    .top {
        .list-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            .item {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem;
                .image {
                    width: 4rem;
                    margin-top: 2.5rem;
                    height: 4rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hottest1;
                    img {
                        width: 3rem;
                    }
                }
                .image2 {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hottest3;
                    img {
                        width: 3.5rem;
                    }
                }
                .image3 {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hottest2;
                    img {
                        width: 3.5rem;
                    }
                }
                .image4 {
                    width: 4rem;
                    height: 4rem;
                    margin-top: 2rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F0FEF8;
                    img {
                        width: 2.5rem;
                    }
                }
                .text-top {
                    margin-top: 3.813rem;
                    p:first-child {
                        font-size: 16px;
                        font-weight: 500;
                        margin:0 0 .5rem 1rem;
                    }
                }
                .text {
                    margin-top: 1.5rem;
                    p:first-child {
                        font-size: 15px;
                        font-weight: 500;
                        margin:0 0 .5rem 1rem;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                        font-weight: 300;
                        margin:0 0 0 1rem;
                    }
                }
                .text-bottom {
                    margin-top: .5rem;
                    p:first-child {
                        font-size: 15px;
                        font-weight: 500;
                        margin:0 0 .5rem 1rem;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                        font-weight: 300;
                        margin:0 0 0 1rem;
                    }
                }
                
            }
            .status {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                    width: 1.5rem;
                    margin-top: 2.5rem;
                }
                .img2 {
                    width: 1.5rem;
                    margin-top: .5rem;
                }
                .phone {
                    width: 2.5rem;
                    margin-top: 0;
                }
            }
        }
        .dots {
            height: 3rem;
            margin-left: 3.5rem;
            margin-top: 4px;
            margin-bottom: 4px;
            img {
                height: 3rem;
            }
        }
        .dots2 {
            height: 1.188rem;
            margin-left: 3.5rem;
            margin-top: 4px;
            margin-bottom: 3px;
            img {
                height: 1.188rem;
            }
        }
        .map {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .last-list-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            .item {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem;
                .image4 {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F0FEF8;
                    img {
                        width: 2.5rem;
                    }
                }
                .text {
                    margin-top: 1.5rem;
                    p {
                        font-size: 15px;
                        font-weight: 500;
                        margin:0 0 .5rem 1rem;
                    }
                }
            }
            .status {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                    width: 1.5rem;
                }
                .dots {
                    width: 2.5rem;
                    height: .5rem;
                }
            }
        }
    }
}
