@import './variables/base'; 

body {
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $font;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58%;
    background-color: $primary;
    img {
        width: 18.938rem;
        height: 19rem;
        margin-top: 8.188rem;
        margin-bottom: 2.125rem;
    }
}

.content {
    width: 100%;
    height: 42%;
    padding-top: 56px;
    margin-bottom: 88px;
    display: block;
    .text-area {
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        max-width: 400px;
        h1 {
            font-size: 18px;
            padding-top: 2px;
            margin-bottom: 8px;
            color: $secondary;
            font-weight: 400;
        }
        p {
            width: 290px;
            font-size: 14px;
            line-height: 24px;
            color: $fifth;
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 87%;
            max-width: 400px;
            height: 56px;
            border: none;
            border-radius: 10px;
            background-color: $primary;
            color: white;
            font-size: 16px;
            margin-top: 42px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
